@model MajourApi.Models.Majour

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Majour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MajourName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MajourName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty.FacultieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.FacultieName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MajourID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
